body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    background: gray;
    border-radius: 10px;
    width: 700px;
    height: 45px;
    margin: auto;
    margin-bottom: 10px;
}
body{
    text-align: center;
    background: #BDBDBD;
}
section{
    background: gray;
    border-radius: 10px;
    font: normal 20px Arial;
    padding-bottom: 15px;
}
input{
    border-radius: 5px;
}